*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: hsla(0, 0%, 100%, 0.75);
}

.section1 {
    background-color: hsl(31, 77%, 52%);
    
}

.section2 {
    background-color: hsl(184, 100%, 22%);
    
}

.section3 {
    background-color: hsl(179, 100%, 13%);
    
}

.botonamarillo{ 
    background-color: hsl(31, 77%, 52%);
    margin-right: 50%;
}

.botoncyan{ 
    background-color: hsl(184, 100%, 22%);
}

.botoncyanos{ 
    background-color: hsl(179, 100%, 13%);
}